
TodoApi/bin/
TodoApi/obj/
TodoApi/*.user
TodoApi/*.suo
TodoApi/.vs/
TodoApi/App_Data/
*.db

TodoApi/appsettings.Development.json

ToDoListReact/node_modules/
ToDoListReact/build/
ToDoListReact/.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*


*.DS_Store
*.log
.vscode/
